*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main

#header{
    height: 46px;
    background-color: black;
}

#nav{
    
}

#nav li {
    display: inline-block;
}

#nav li a{
    text-decoration: none;
    font-size: 26px;
    line-height: 46px;
}

#nav .subnav{
    display: none;
}


#slider{

}

#content{

}

#footer{
padding: 10px;
}
